lumberinator/lumberinator/logs/*.log.gz
lumberinator/lumberinator/world/*
lumberinator/lumberinator/target/*
lumberinator/lumberinator/usercache.json
lumberinator/lumberinator/whitelist.json
lumberinator/lumberinator/spigot.yml
lumberinator/lumberinator/server.properties
lumberinator/lumberinator/permissions.yml
lumberinator/lumberinator/ops.json
lumberinator/lumberinator/eula.txt
lumberinator/lumberinator/buildAndDeploy.bat
lumberinator/lumberinator/bukkit.yml
lumberinator/lumberinator/commands.yml
lumberinator/lumberinator/help.yml
lumberinator/lumberinator/banned-players.json
lumberinator/lumberinator/banned-ips.json
lumberinator/lumberinator/plugins/*
lumberinator/lumberinator/world_nether/*
lumberinator/lumberinator/world/*
lumberinator/lumberinator/world_the_end/*
lumberinator/lumberinator/logs/*
