lumberinator/logs/*.log.gz
lumberinator/world/*
lumberinator/target/*
lumberinator/usercache.json
lumberinator/whitelist.json
lumberinator/spigot.yml
lumberinator/server.properties
lumberinator/permissions.yml
lumberinator/ops.json
lumberinator/eula.txt
lumberinator/buildAndDeploy.bat
lumberinator/bukkit.yml
lumberinator/commands.yml
lumberinator/help.yml
lumberinator/banned-players.json
lumberinator/banned-ips.json
lumberinator/plugins/*
lumberinator/world_nether/*
lumberinator/world/*
lumberinator/world_the_end/*
lumberinator/logs/*
